body, .dropdown-menu {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
}

a:hover {
    text-decoration: none;
}

.WApplication_msgs.alert-debug {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: initial;
    right: 0;
    background-color: #286090;
}


/*---- Helpers -----*/

.font-monospace {
    font-family: monospace;
}

.display-table {
    display: table;
}

.display-inline {
    display: inline-block;
    width: inherit;
}

.strip-margin {
    margin: 0;
}

.center-block2 {
    display: table;
    margin-left: auto;
    margin-right: auto;
}


/* fieldset old */

fieldset.fieldset_old {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 28px;
    background: whitesmoke;
}

fieldset.fieldset_old legend {
    padding: 0px 12px;
    margin-bottom: 5px;
    border: 0;
    width: initial;
    background: #fff;
}


/* ---- NAVBAR Black ----- */
.navbar-nav>li {
    color: white;
}

.navbar-inverse .dropdown-menu {
    padding: 0;
}

.navbar-inverse .dropdown-menu>li>a {
    padding: 11px 15px;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        padding: 8px 15px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
        background-color: #080808;
    }
}

.navbar-inverse.navbar-default .dropdown-menu {
    background-color: #333333;
}

.navbar-inverse.navbar-default .dropdown-menu>li>a {
    background-color: #333333;
    color: #9d9d9d;
}

.navbar-inverse.navbar-default .dropdown-menu>li>a:hover {
    color: #fff;
}

.navbar-inverse.navbar-default .dropdown-menu>.active>a, .navbar-inverse.navbar-default .dropdown-menu>.active>a:hover {
    background-color: #080808;
    color: #fff;
}


/*--- header ---*/

header.page-header {
    margin-bottom: 0;
}


/*--- main ---*/

main>.page-header {
    margin-top: 0;
}


/* ---- FOOTER ----- */

footer {
    margin-top: 41px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 88%;
    color: #999;
    background-color: #f8f8f8;
}


/*--- WInputSelect ---*/

select .placeholder {
    color: #999;
}


/*--- WInputRadios ---*/

.WInputRadios {
    display: inline-block;
}


/*--- WInputFile ---*/

.WInputFile.well {
    margin-bottom: 0;
}

.WInputFile .view_image {
    max-width: 300px;
}

.WInputFile .file_info {
    background-color: white;
}

.WInputFile .fa-trash-alt {
    color: red;
}


/*----- FORMS ---------*/

legend {
    font-weight: bold;
}

.WFrame>.panel-heading {
    background-color: initial;
    border-width: 0;
}

.WForm .btn.btn-sm {
    padding: 4px 10px;
}

.WForm .btn.btn-xs {
    padding: 2px 6px;
}

.WForm .oper_buttons .btn {
    margin-left: 8px;
}

.WForm .oper_buttons .btn {
    min-width: 80px;
}
