body, .dropdown-menu {
    font-size: 13px;
}

h1, h2, h3, h4 {
    margin: 0;
}

hr {
    margin-top: 6px;
    margin-bottom: 7px;
}


/* ---- Material Icons ----- */

.material-icons {
    line-height: 0;
    vertical-align: middle;
    display: inherit;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* ---- Alerts ----- */

.WApplication_msgs {
    position: absolute;
    z-index: 1000;
    top: 1px;
    left: 28%;
    /*border-radius: 0;*/
    max-width:530px
}

.WApplication_msgs.alert {
    padding: 10px 13px;
    margin-bottom: 10px;
}


/* ---- HEADER ----- */

header.page-header {
    background-color: #191c22;
    margin: 0;
    padding-top: 8px;
    border-width: 0;
    color: #eee;
}

header.page-header h1 {
    font-size: 22px;
    font-weight: 300;
}


/* ---- NAVBAR ----- */


/** height **/


/*
.navbar {
    min-height:36px !important;
}
.navbar-nav > li > a,
.navbar-brand {
    padding-top:8px !important;
    padding-bottom:6px !important;
    height: 36px;
}
.navbar-toggle {
    margin-top: 1px;
    margin-bottom: 1px;
}
*/


/*----- WList ---------*/

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 7px;
}


/*----- WForm ---------*/

.form-control {
    font-size: 13px;
    padding: 5px 10px;
    height: initial;
}
input[type=date].form-control,
input[type=time].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control {
    line-height: initial;
}
textarea.form-control {
    min-height: 80px;
}

body.pagekey_WForm>main>.page-header {
    display: none;
}

.WForm .oper_buttons .btn {
    padding: 5px 12px;
}

input.form-control.type_datetime-local {
    width: initial;
}
