
body, .dropdown-menu {
  font-size: 13px;
}
h1, h2, h3, h4 {
  margin: 0;
}

hr {
  margin-top: 6px;
  margin-bottom: 7px;
}

.WApplication_msgs {
  position:absolute;
  z-index: 1000;
  top:1px;
  left: 40%;
  border-radius: 0;
}
.WApplication_msgs.alert {
  padding: 10px;
  margin-bottom: 10px;
}

/* ---- HEADER ----- */
header.page-header {
  background-color: #191c22;
  margin: 0;
  padding-top: 8px;
  border-width: 0;
  color: #eee;
}
header.page-header h1 {
  font-size: 22px;
  font-weight: 300;
}

/*----- WList ---------*/
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 7px;
}

/*----- WForm ---------*/
.form-control {
  font-size: 13px;
  padding: 5px 10px;
  height: initial;
}
body.pagekey_WForm>main>.page-header {
  display: none;
}

.WForm fieldset.fieldset_old {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 28px;
}
.WForm fieldset.fieldset_old legend {
  padding: 0px 12px;
  margin-bottom: 5px;
  border: 0;
  width: initial;
}

.WForm .oper_buttons .btn {
  padding: 5px 12px;
}

/* ---- NAVBAR ----- */
.dropdown-menu {
  padding: 0;
}

/* height */
.navbar {
    min-height:36px !important;
}
.navbar-nav > li > a,
.navbar-brand {
    padding-top:8px !important;
    padding-bottom:6px !important;
    height: 36px;
}
.navbar-toggle {
    margin-top: 1px;
    margin-bottom: 1px;
}
.dropdown-menu>li>a {
    padding: 9px 15px;
}

/* black */
.navbar-inverse.navbar-default .dropdown-menu {
    background-color: #333333;
}
.navbar-inverse.navbar-default .dropdown-menu>li>a {
    color: #9d9d9d;
    background-color: #333333;
}
.navbar-inverse.navbar-default .dropdown-menu>li>a:hover {
    color: #fff;
}
.navbar-inverse.navbar-default .dropdown-menu>.active>a,
.navbar-inverse.navbar-default .dropdown-menu>.active>a:hover {
    /*background-color: #080808;*/
    color: #fff;
}

