
body {
  background-color: rgb(212, 212, 212);
  /*background-color: #edecec;*/
  /*font-size:13px;*/
}

/*-------------*/
.panel-default>.panel-heading {
  background-color: inherit;
  border-width: 0;
}
/*
.panel-body {
  padding: 24px;
}
*/
footer {
  background-color: #f5f5f5;
}

.btn {
  border-radius: 0;
}