/**
 * @author José A. Romero Vegas <jangel.romero@gmail.com>
 */

/****** CABECERA ******/
.WTree_cabecera {
  border-bottom:1px solid #999;
  border-collapse: collapse;
  font-weight:bold;
  /*background-color: #DEDCC7;*/
}
.WTree_cabecera td.title {
  text-align:center;
}
.WTree_cabecera td.btNuevo {
  text-align:right;
}

/****** LISTADO ******/
.WTree_tuplas {
  padding:2px;
  padding-left:5px;
}
/* -------------------------- */
.WTree_tuplas .columnOp {
  border-left:1px solid #aaa;
}
/* -------------------------- */
.WTree_tuplas table.tupla {  }
.WTree_tuplas table.tupla2 {  }

.WTree_tuplas a {
  height:16px;
  color:#000;
  text-decoration:none;
}
.WTree_tuplas a:hover {
  text-decoration:none;
  background-color: #CDD6FA;
}
/* -------------------------- */
.WTree_tuplas .tuplaL {
  font-weight:normal;
  padding: 0 4px;
}
.WTree_tuplas .tuplaL1,
.WTree_tuplas .tuplaL2 {
  /*font-weight:bold;*/
}
.WTree_tuplas .tuplaSelected {
  border:2px solid #AAF;
  border: 1px solid burlywood;
  background: #ffefdc;
}

/*---*/
.WTree_tuplas .btOptions span {
  /*
  color: dodgerblue;
  color: steelblue;
  */
  color: royalblue;
}
.WTree_tuplas .btOptions span:hover {
  cursor: pointer;
}
.WTree_tuplas .btOptions span.red {
  color:red;
}
.WTree_tuplas input.check{
  margin:0px
}

/*------------*/
#sidetree {
  border:1px solid #a3a3a3;
}
#sidetree td {
  padding: 6px;
}
#sidetree .well {
  margin-bottom: inherit;
}

.WTree_tuplas img {
  vertical-align:top;
}
.WTree_tuplas .selected {
  background:#ecffec; border:1px solid #5C5;
}
.WTree_tuplas .selected a {
  background:#d2ffd2;
}

.treeview li {
  /*padding: 2px 0pt 2px 2px;*/
}
.treeview span.hover {
  color: inherit;
}
.treeview span.hover:hover {
  color: gray;
  cursor: pointer;
}

#sidetreecontrol a {
  border: 1px solid #bbcee7;
  padding: 1px 4px;
  background: #efefff;
}

/*-------------*/
.treeview .hitarea {
  cursor: pointer;
  /*margin-top: 2px;*/
}
/*
.treeview .hitarea::after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
}
.treeview .expandable-hitarea::after {
  content: "\f067";
}
.treeview .collapsable-hitarea::after {
  content: "\f068";
}
*/