
/******* List *******/
.List .setScroll {
  overflow: auto;
  padding-right: 17px; /* quitar scroll horizontal */
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
div.List_paginacion {
  padding: 4px;
}
.List_paginacion.well {
  margin-bottom: 0;
}

.FormSearch {
  margin-bottom: 12px;
}

/****** Paginación ***/
.List_paginacion.top    { border-bottom:0; }
.List_paginacion.bottom { border-top:0; }

/******* Datos *******/
.List_tuplas tbody td {
  cursor:pointer;
}
/* selected */
table.List_tuplas tbody tr.selected {
  background-color:#dff0d9;
}
table.List_tuplas tbody tr.selected td {
  border-bottom: 1px solid #66bb66;
}

/* onClickUser */
.List_tuplas tbody td.onClickUser {
 color:blue;
}

/******* optionsBar *******/
.List_tuplas .optionsBar {
  padding:2px;
  text-align: center;
  white-space: nowrap;
  cursor: default;
}
/*-----*/
.List_tuplas .optionsBar a,
.List_tuplas .optionsBar button,
.List_tuplas .optionsBar span {
  margin: 0 5px;
}
.List_tuplas .optionsBar .fa {
  min-width: 18px;
}
