/**
 * @author José A. Romero Vegas <jangel.romero@gmail.com>
 */

/**********************/
#sidetree {
  border:1px solid #ccc;
  background-color:#fff;
}
#sidetree td {
  padding:3px;
}
#sidetree img {
  vertical-align:top;
}

/****** CABECERA ******/
.WTree_cabecera {
  border-bottom:1px solid #ccc;
  border-collapse: collapse;
  font-weight:bold;
}
.WTree_cabecera #sidetreecontrol a {
}
.WTree_cabecera td.sidetreecontrol {
  width:45px;
}
.WTree_cabecera td.title {
  height:16px; text-align:center;
}
.WTree_cabecera td.btNuevo {
  text-align:center;
  width:70px;
}

/****** LISTADO ******/
.WTree_tuplas {
  padding:2px;
  padding-left:5px;
}
/* -------------------------- */
.WTree_tuplas .columnOp {
  border-left:1px solid #aaa;
  text-align:center
}
/* -------------------------- */
.WTree_tuplas table.tupla {  }
.WTree_tuplas table.tupla2 {  }

.WTree_tuplas a {
}

.WTree_tuplas a:hover {
  text-decoration:none;
  background-color: #CDD6FA;
}
/* -------------------------- */
.WTree_tuplas .tuplaL {
 font-weight:normal;
}
.WTree_tuplas .tuplaL1 {
  font-weight:bold;
}
.WTree_tuplas .tuplaL2 {
  font-weight:bold;
}
.WTree_tuplas .tuplaSelected {
  border:2px solid #AAF;
}

.WTree_tuplas .bt_del {
  color: red;
}
.WTree_tuplas input.check{
  margin:0px
}
